<?xml version="1.0" encoding="utf-8" ?>
<module clientResourceRelativePath="">

  <assemblies>
    <add assembly="TinymceDamPicker" />
  </assemblies>

  <clientResources />

  <dojoModules />

  <clientModule>
    <moduleDependencies>
      <add dependency="epi-addon-tinymce" type="RunAfter" />
    </moduleDependencies>
    <requiredResources />
  </clientModule>
</module>
